@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe_Regular.woff2') format('woff2'),
         url('./fonts/Circe_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: 'Circe', sans-serif;
    background-color: #f5f1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
}

.ticket {
    width: 350px;
    background-color: #f5f1e8;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.header {
    background-color: #2e1f4c;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.logo {
    width: 80px;
    margin: 10px 0;
}

.success {
    color: #2e1f4c;
    font-size: 18px;
    
}

.transport {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1;
}

.vehicleNumber {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); 
    margin-top: 0.01px;
    line-height: 1;
}

.price {
    font-size: 48px;
    font-weight: bold;
    color: #2e1f4c;
    margin: 10px 0;
    line-height: 1;
}

.date {
    font-size: 18px;
    color: #2e1f4c;
    line-height: 1.2;
    margin-bottom: 1px;
}

.time-passed {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 3px;
}

.timer {
    font-size: 32px;
    font-weight: bold;
    color: #2e1f4c;
    margin-bottom: 20px;
    line-height: 0.1;
}

.qr {
    width: 300px;
    margin-top: 10px;
}

.ticket-details {
    text-align: center;
    font-family: 'Circe', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd; /* Разделительная линия сверху */
}

.download-btn {
    background-color: #77C043;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 80%;
}

.download-btn:hover {
    background-color: #69A738;
}


