@font-face {
    font-family: 'Circe';
    src: url('fonts/Circe_Regular.woff2') format('woff2'),
         url('fonts/Circe_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Circe', sans-serif;
    background-color: #f5f1e8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    font-size: calc(1vw + 1vh + 0.5vmin); /* Автоматическая подгонка шрифта */
}

.ticket {
    width: 90vw;
    max-width: 400px;
    background-color: #f5f1e8;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(19, 5, 56);
    font-size: 1.2em;
    font-weight: bold;
    min-height: 60px;
    padding: 10px 0;
    text-align: center;
}

.content {
    padding-top: 10px;
}

.logo {
    width: 20%;
    max-width: 80px;
    margin: 5px 0;
}

.success {
    color: #2e1f4c;
    font-size: 1.1em;
}

.transport {
    font-size: 1.2em;
    margin-top: 10px;
}

.vehicleNumber {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.price {
    font-size: 2.5em;
    font-weight: bold;
    color: #2e1f4c;
    margin: 10px 0;
}

.date {
    font-size: 1.1em;
    color: #2e1f4c;
    line-height: 1.5;
    margin-bottom: 10px;
}

.time-passed {
    font-size: 1.1em;
    color: #2e1f4c;
    text-align: center;
    margin-bottom: 10px;
}

.timer {
    font-size: 2em;
    color: #2e1f4c;
    font-weight: bold;
    text-align: center;
}

.qr {
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
}

.ticket-details {
    text-align: center;
    font-size: 1em;
    color: #333;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.download-btn {
    margin-top: 27px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 96%;
    height: 50px;
    background: rgb(59, 158, 39);
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 8px;
    color: aliceblue;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-btn:hover {
    background-color: #69A738;
}

@media (max-width: 768px) {
    .ticket {
        width: 95vw;
        max-width: 95%;
    }
    .header {
        font-size: 1.1em;
        padding: 10px 0;
    }
    .price {
        font-size: 2.2em;
    }
    .timer {
        font-size: 1.8em;
    }
}
